NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=573156753404
NEXT_PUBLIC_EE_CHAT_WEBHOOK=
NEXT_PUBLIC_WOMPI_PUBLIC_KEY=
WOMPI_INTEGRITY_SECRET=
WOMPI_EVENTS_SECRET=
WOMPI_PRIVATE_KEY=
WOMPI_CHECKOUT_URL=https://checkout.wompi.co/p/
DATABASE_URL=
ORDER_NOTIFICATION_WEBHOOK=
ORDER_NOTIFICATION_SECRET=
ORDER_SYNC_SECRET=
